.observation-card {
    width: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.pet-info {
    display: flex;
    align-items: center;
}

.pet-avatar {
    height: 30px;
    width: 30px;
}