.observations-container {
    max-width: 768px;
}

.observation-card {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.pet-info {
    display: flex;
    align-items: center;
}

.pet-avatar {
    height: 30px;
    width: 30px;
}